.header{
    //height: 80px;
    .navdiv1{
        width: 50%;
    }
    .navdiv2{
        width: 40%;
        .divlist{
            margin: 10px;
        }
    }
    .navdiv3{
        width: 10%;
    }
}