<div class="container-fluid footer">
  <div class="row rowdiv1">
    <div class="col-sm coldiv1">
      <img class="imgdiv" src="assets/images/logo.png" alt="" /><br />
      <a
        href="#"
        class="fa fa-facebook"
        style="margin: 10px; padding: 10px; font-size: 36px; color: gray"
      ></a>
      <a
        href="#"
        class="fa fa-twitter"
        style="margin: 10px; padding: 10px; font-size: 36px; color: gray"
      ></a>
      <a
        href="#"
        class="fa fa-instagram"
        style="margin: 10px; padding: 10px; font-size: 36px; color: gray"
      ></a>
      <a
        href="#"
        class="fa fa-linkedin"
        style="margin: 10px; padding: 10px; font-size: 36px; color: gray"
      ></a>
      <a
        href="#"
        class="fa fa-whatsapp"
        style="margin: 10px; padding: 10px; font-size: 36px; color: gray"
      ></a>
    </div>

    <div class="col-sm coldiv2">
      <ul class="listlinks" style="list-style-type: none">
        <li class="link1">
          <a routerLink="#" (click)="home()">>Home</a>
        </li>
        <li class="link2">
          <a routerLink="#" (click)="visa()">>Visa News</a>
        </li>
        <li class="link3">
          <a routerLink="#" (click)="faq()">>FAQs</a>
        </li>
        <li class="link4">
          <a routerLink="#" (click)="about()">>About Us</a>
        </li>
      </ul>
    </div>
    <div class="col-sm coldiv3">
      <h2>GET IN TOUCH</h2>
      <h4><a href="#">EMAIL : advisor@d2overseas.com</a></h4>
      <h4>PHONE : +91 8555044841</h4>
      <h4>WHATSAPP : +91 8555044841</h4>
      <h4><a href="#">FILL A FORM : Click Here</a></h4>
    </div>
  </div>
  <div class="container-fluid bg-dark rowdiv2">
    <h3>©2022. KUCHIN Overseas Consultancy LLP</h3>
  </div>
</div>
