
<div class="container-fluid faqsdiv">
<img class="imgfaqs" src="assets/images/about-us-banner.png" alt=" image not available">
<div class="container imgdiv">
<h1>D2OVERSEAS</h1><br>
<h4>Welcome to D2Overseas family. Talk to our best advisors to make your university <br> application process seamless!!! Please
click the below “Join Now” button and provide <br> basic information or send a simple “Hello D2O” message by clicking on
“WhatsApp” icon</h4>

<button class="btn btn-primary" (click)="login()"> JOIN NOW</button>
<a href="#"><i class="fa fa-whatsapp" style="margin:10px;padding:10px;font-size:36px"></i></a>

</div>

</div>
<div class="container p-4 " style="text-align: center;">
    <h1>FAQ</h1>
    <h4>Find the answers for the most frequently asked questions below</h4><br>
    <small></small>
    
    <div class="row">
        <div class="col">
<p style="font-weight: bold;">What is the best way to get in touch with a support team representative?</p>
<p>To receive assistance, you may email advisor@d2overseas.com or submit a helpdesk ticket, and a representative will
respond to you promptly. Alternatively, you can reach us by dialing +91 8555044841. Please note that there might be a
delay in response time outside of working hours and on weekends.</p>
        </div>
        <div class="col">

            <p style="font-weight: bold;">What is the method for contacting my counselor?
           </p>
           <p>Once enrolled in a paid plan, the student will receive an email containing information about their assigned counselor.
        The student can contact their counselor via email, phone, messaging, or a customized dashboard.</p>
        </div>
        <div class="col">
            <p style="font-weight: bold;">Is it possible to receive guidance on how to complete college applications?</p>
            <p>If you require assistance, you can reach out to your counselors for a single consultation.</p>
        </div>
        <div class="row"></div>
        <div class="col">
            <p style="font-weight: bold;">If I am unsure about my specialization, can D2Overseas provide assistance?</p>
            <p>D2Overseas is available to provide guidance if you are uncertain or bewildered about selecting your specialization. We
            will collaborate with you to determine your passions and skills, so that you can discover the ideal specialization for
            yourself.</p>
        </div>
        <div class="col">
            <p style="font-weight: bold;">Can I study abroad with low scores?</p>
            <p>Obtaining a low grade is a common occurrence, and it does not imply that your future is bleak or that you are incapable
            of accomplishing your objectives. Occasionally, students assume that they must earn a high score to gain admission to
            their desired institution, but this is not always accurate. While certain universities have stringent admission
            requirements, this should not prevent you from excelling in your profession. The notion that a low score cannot secure
            your admission for studying abroad is a misconcep</p>
        </div>
        <div class="col">
            <p style="font-weight: bold;">When is the best time to initiate my application process?</p>
            <p>It is recommended that students who wish to enroll in an educational institution should begin the application process at
            least 15 months ahead of the earliest intake period. This will provide them with sufficient time to create an impressive
            profile and complete the application forms without difficulty.</p>
        </div>
        <div class="row"></div>
        <div class="col">
            <p style="font-weight: bold;">What all we get to know in 30 minutes free profile consultation call?</p>
            <p>During the 30-minute free profile consultation call, you can expect to receive general guidance on your academic
            background, professional aspirations, and any concerns or questions you may have about the application process. The
            purpose of this consultation is to determine if our services would be beneficial to you and to assist you in deciding
            which service would best fit your requirements.</p>
        </div>
        <div class="col">
            <p style="font-weight: bold;">Can I expect my counselor to be available outside of regular business hours and on weekends, considering that I am a
            working professional?</p>
            <p>You may schedule appointments with your counselors on Fridays, depending on their availability. However, if you require
            a weekend appointment, please inform your counselor in advance so that they can arrange their schedule accordingly.
            Please be aware that counselor availability for weekend sessions is subject to their availability.</p>
        </div>
        <div class="col">
            <p style="font-weight: bold;">Can D2overseas assist me with scheduling my visa appointments?</p>
        <div class="container diviframe">
            <iframe style="height:250px;width:250px" src="https://www.d2overseas.com/" frameborder="0"></iframe>
        </div>
        </div>


    </div>
</div>

<div class="container p-3" >
    <h1 style="text-align: center;">PRIVACY POLICY</h1><br>
    <p style="font-weight: bold;">Introduction</p><br>
    <p>At KUCHIN OVERSEAS CONSULTANCY LLP and our affiliated companies worldwide, we value your privacy and understand the
    importance of protecting any personal information shared with us. "Personal information" refers to any details that can
    be used to identify an individual, such as full name, home address, email address, phone number, etc., both at work and
    at home. You can visit our website without providing your identity card or personal information.</p>
    
    <p style="font-weight: bold;">Cookies and Other Tracking Technologies</p><br>
<p>Our website uses cookies and other tracking technologies for some pages. Cookies are small text files that can be used
to track website activity and recall previously entered personal information. Most browsers allow for control of
cookies, including the option to accept or reject and remove them. If you choose to block cookies, you may need to
re-enter your login information to access certain parts of the website, and some sections may not function properly.
Tracking technologies may collect data such as domain and host names, IP addresses, browser type, operating system,
click patterns and access times. The use of cookies and tracking technologies enhances our website and your experience
and allows us to analyze the information for trend and statistical purposes.</p>

    <p style="font-weight: bold;">Acceptance of Terms</p><br>
    <p>By using this website, you agree to the terms outlined in our Online Privacy Policy and to Kuchin Overseas Consultancy
    LLP's processing of personal information for the stated purposes as well as any other reasons outlined on the website
    where personal information is collected. Data Security We take necessary security measures to prevent unauthorized
    access, alteration, disclosure, or destruction of your data. Access to your personal information is limited to employees
    who need it to provide, improve, or develop our services. Updating Personal Information, we offer ways to update and
    correct your personal information for many of our services. Child Protection Kuchin Overseas Consultancy LLP will not
    contact children under the age of 13 for marketing purposes or exclusive offers without parental consent.</p>

    <p style="font-weight: bold;">Information Sharing and Disclosure</p><br>
    <p>Kuchin Overseas Consultancy LLP will not share your personal information with other individuals or companies, except in
    the following circumstances: When we have your consent to do so to provide the products or services you have requested
    When sharing with trusted partners who work on or with Kuchin Overseas Consultancy LLP under confidential agreements to
    communicate offers and marketing. These partners do not have the right to share the information independently. When we
    need to respond to subpoenas, court orders, legal processes, or to establish or protect our legal rights In cases of
    suspected illegal activities, fraud, potential physical harm, or violations of Kuchin Overseas Consultancy LLP's terms
    of use If Kuchin Overseas Consultancy LLP is acquired by or merged with another company, the information about you may
    be transferred, with prior notification and a change in the privacy policy Kuchin Overseas Consultancy LLP may display
    targeted advertisements based on personal information, and advertisers may assume that individuals who interact with the
    ads meet the target criteria. However, Kuchin Overseas Consultancy LLP does not provide personal information to the
    advertiser. Our advertisers include financial and non-financial companies, and Kuchin Overseas Consultancy LLP works
    with vendors, partners, advertisers, and other service providers in various industries. For more information, please
    refer to the detailed reference links</p>
     <p style="font-weight: bold;">Confidentiality and Security</p><br>
     <p>The information we collect about your non-personal details, such as the URLs you access, the type of browser used (e.g.,
    Internet Explorer, Chrome), the operating system of your device, your internet service provider, and IP address, help us
    improve our website and services. We also gather information on the pages you visit on our site, the sequence of those
    visits, and the links you click. This information is used solely to enhance the performance and functionality of our
    website</p>
     <p style="font-weight: bold;">Personally Identifiable Information</p><br>
     <p>All the personal information and data that you share with us through our website, app, or third-party services will be
    considered as Personally Identifiable Information. This information will only be used in accordance with our Privacy
    Policy. This includes the information you provide during the sign-up process, such as your name, email, phone number,
    education, work experience, projects, and photos. The information you share on our forums, online and offline events,
    and chats is also included. If you subscribe to our premium plans, we may also collect your payment information from a
    third-party gateway provider. We gather this information in several ways, including when you input it while using our
    website, platform, interacting with our counselors, customer support, participating in our surveys, or marketing
    promotions. We use this information to personalize our platform to your preferences, send you emails and updates,
    promote our services, and share it with our business partners for other relevant services. Please note that we do not
    have control over our third-party service providers</p>
    <p style="font-weight: bold;">Use of Information</p><br>
    <p>We may use the information we collect with your consent to register you on our Website or Platform, to provide you with
    information relating to our Program and/or other D2Overseas Services, offers from time to time in connection with
    D2Overseas to respond to your questions or interest shown in our Programs, and to send you updates on related D2Overseas
    events, platform maintenance or new services provided by D2Overseas via the platform, email, SMS, or phone call. We may
    use your Personally Identifiable Information to provide such services to you and for quality control purposes. We may
    also archive this information and use it for future communications with you. For example, D2Overseas may make available
    chat services that let you communicate with D2Overseas’ counselors, and we may use and share your Personally
    Identifiable Information to provide these services to you. In another example, D2Overseas’ staff members may create
    groups on our platform with other students and make you a member of such a group. These groups may be used to provide
    services in conjunction with the Programs, including, but not limited to, updates related to the Programs, details of
    potential employers, etc. Please be aware that the information disclosed on a third-party service provider’s platform
    will be dependent and subject to such third-party’s privacy policies and/or on your settings regarding what information
    you have consented to share with them. D2Overseas shall have no liability in this regard whatsoever. D2Overseas may use
    and share your information to improve its services and offerings. For example, we, through our service providers (like
    financial partners or surveyors), may approach you to understand the impact of our programs on your careers. For this
    purpose, we may connect with you via a phone call, email you questionnaires, or request you to attend workshops. To the
    extent any Personally Identifiable Information collected by us contains images of you, you grant D2Overseas a limited,
    non-exclusive right to use, reproduce, distribute, or prepare derivative works of or publicly display such images and/or
    your likeness in relation to the Program or for marketing purposes. We may use your photograph along with employer
    information, testimonials, transition information, designation change, etc., for Ads/and or social media posts to
    highlight our learners’ achievements. We use Non-Personal Information in aggregate form to build higher-quality, more
    useful services by performing statistical analysis of our users' collective characteristics and behavior and by
    measuring demographics and interests regarding specific areas of our website. If the processing of your Personal
    Identifiable Information is subject to the EU General Data Protection Regulations, we use your Personal Identifiable
    Information where the processing is in our legitimate interests.</p>
    <p style="font-weight: bold;">Sharing Your Information</p><br>
    <p>We may share your information in the following ways: With educational partners, such as universities or program
    coordinators who developed the program/course you are enrolled in. With employers, sponsors, and scholarship providers
    if your program is sponsored or paid for by them or if you have availed yourself of a scholarship from them. With
    service providers who perform services on our behalf, such as billing, sales, marketing, test proctoring, couriers,
    mentoring, recruitment consulting, product content, advertising, analytics, research, customer service, data storage,
    security, fraud prevention, credit facilities, payment processing, and legal services. With other students who have
    agreed to sign up for our services, to facilitate communication between students through chat forums. With government
    authorities in response to court orders or legal processes, or when we believe it is necessary to investigate illegal
    activities or to protect our rights, property, or users. With an acquirer, assignee, or successor entity in case of a
    sale, merger, or reorganization of our business. With business partners, such as banks or private loan companies, for
    offering products or services that may interest you</p>
    <p style="font-weight: bold;">Updating of Privacy Policies</p><br>
    <p>The Privacy Policy is subject to modifications and updates, which will be posted on our platform for your reference. Any
    changes to the policy will take effect immediately after being posted on this page. Your use of the platform indicates
    your consent to the updated Privacy Policy and any modifications made. It is recommended that you periodically check
    this page to familiarize yourself with the latest version of the Privacy Policy</p>
    <p style="font-weight: bold;">Disclaimer</p><br>
    <p>Kuchin Overseas Consultancy LLP does not store or keep credit card data accessible via the Internet. Kuchin Overseas
    Consultancy LLP uses the maximum care possible to ensure that all data or information related to electronic transfers of
    money does not fall into the wrong hands. Kuchin Overseas Consultancy LLP will not be held responsible for any loss or
    damage caused by the accidental or intentional disclosure of any information about the user's account or online
    transactions using credit cards, debit cards, and their verification process. The company will also not be liable for
    any errors, omissions, or inaccuracies in the information disclosed, whether in accordance with legal process or
    otherwise</p>


</div>