<div class="container-fluid faqsdiv">
    <img class="imgfaqs" src="assets/images/about-us-banner.png" alt=" image not available">
    <div class="container imgdiv">
        <h1>D2OVERSEAS</h1><br>
        <h4>Welcome to D2Overseas family. Talk to our best advisors to make your university <br> application process
            seamless!!! Please
            click the below “Join Now” button and provide <br> basic information or send a simple “Hello D2O” message by
            clicking on
            “WhatsApp” icon</h4>

        <button class="btn btn-primary" (click)="login()"> JOIN NOW</button>
        <a href="#"><i class="fa fa-whatsapp" style="margin:10px;padding:10px;font-size:36px"></i></a>

    </div>
    <div class="container-fluid ">

        <div class="container  m-5" style="text-align: center;">
        
            <h1 class="align-text-center">About Us</h1>
        <h3>D2Overseas is your family abroad</h3>
        <small></small>
        <p style="text-align: center;">We just do not suggest by learning from others, we assist from our own experiences. Now, we want to make the abroad
        education process more friendly by removing the pain points we felt during our process. Allow us in assisting you, while
        you spend the most valuable time with your family, before moving on to a great venture in your life <br>
        
        We are here to advice you in making decisions about your course of study, suitable universities for the specialization
        you pick. Also, we assist in planning travel and tickets, and many more like applications for scholarships, on-campus
        work, etc., <br>
        
        We are here to build better relationships and assist you like a family member present abroad and give you 24x7 support</p>
        
        </div>
    </div>
   