
<div class="container">
    <ul class="listlinks" style="list-style-type: none;">
        <li class="link1">
            <a routerLink="#" (click)="home()">>Home</a>
        </li>
        <li class="link2">
            <a routerLink="#" (click)="visa()">>Visa News</a>
        </li>
        <li class="link3">
            <a routerLink="#" (click)="faq()">>FAQs</a>
        </li>
        <li class="link4">
            <a routerLink="#" (click)="about()">>About Us</a>
        </li>
    </ul>
</div>