<div class="container-fluid visadiv">
  <img
    class="visaimg"
    src="assets/images/visa-news-banner-dup.png"
    alt=" image not available"
  />

  <div class="container imgdiv">
    <h1>VISA NEWS</h1>
    <br />
    <h5>
      We want to keep you aware about all the recent guidelines regarding
      visas,<br />
      travel and immigration rules
    </h5>
    <button class="btn btn-primary" (click)="login()">JOIN NOW</button>
    <a href="#"
      ><i
        class="fa fa-whatsapp"
        style="margin: 10px; padding: 10px; font-size: 36px"
      ></i
    ></a>
  </div>
</div>
<!--<div class="container-fluid outerdiv">
  <div class="row border border-dark">
    <div class="col innerdiv1">
      <h4>WHAT ARE ON-CAMPUS AND PART-TIME JOBS IN US?</h4>
      <small></small>
      <hr />
      <p>
        What are on-campus and part-time jobs in US?
        <a href="#">[Visit Site]</a>
      </p>
      <div class="idiv container" (click)="iframe()">
        <iframe class="iframe1" src="https://www.d2overseas.com/"> </iframe>
      </div>
    </div>
  </div>
  <div class="row border border-dark innerdiv2">
    <div class="col">
      <h4>WHAT IS TEACHING ASSISTANTSHIP?</h4>

      <small></small>
      <hr />
      <p>
        What is Teaching AssistantShip?
        <a href="#">[Visit Site]</a>
      </p>

      <div class="idiv container" (click)="iframe()">
        <iframe class="iframe1" src="https://www.d2overseas.com/"> </iframe>
      </div>
    </div>
  </div>
</div>-->

<div class="container-fluid">
  <div class="container maindiv">
    <div class="row row1 text-center">
      <div class="col-md-auto col1">
        <h4>WHAT ARE ON-CAMPUS AND PART-TIME JOBS IN US?</h4>
        <small></small>
        <hr />
        <p>
          What are on-campus and part-time jobs in US?
          <a href="#">[Visit Site]</a>
        </p>
      </div>
      <div class="col-md-auto col2">
        <img src="assets/images/arrow2.png" alt="" />
      </div>
      <div class="col-md-auto col3" (click)="iframe()">
        <iframe class="iframe1" src="https://www.d2overseas.com/"> </iframe>
      </div>
    </div>
  </div>

  <div class="container maindiv">
    <div class="row row1 text-center">
      <div class="col-md-auto col3" (click)="iframe()">
        <iframe class="iframe1" src="https://www.d2overseas.com/"> </iframe>
      </div>

      <div class="col-md-auto col2">
        <img src="assets/images/arrow3.png" alt="" />
      </div>

      <div class="col-md-auto col1">
        <h4>WHAT IS TEACHING ASSISTANTSHIP?</h4>

        <small></small>
        <hr />
        <p>
          What is Teaching AssistantShip?
          <a href="#">[Visit Site]</a>
        </p>
      </div>
    </div>
  </div>
</div>
